<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Test-Master-Selenium" verbose="1">

    <test name="Regression1">

        <!-- Agregando navegador por parámetro -->
        <parameter name="browser" value="CHROME"/>

        <packages>
            <package name="org.selenium.pom.tests" />
        </packages>

        <!-- Para ejecutar clases de prueba en específico-->
        <!-- <classes>
            <class name="org.selenium.pom.tests.TestPom18"/>
            <class name="org.selenium.pom.tests.TestPom17"/>
        </classes> -->

    </test>

</suite>
